#**Project: IMDb Movie Explorer**
#**Author: Ashish Kayastha**

# Define global variables

In [ ]:
DB_NAME = "imdb_database"
PROJECT_FOLDER = '/opt/data'
MOVIELENS_URL = "http://files.grouplens.org/datasets/movielens/ml-25m.zip"

# Install OpenJDK 8 and Spark

In [ ]:
!apt-get update -qq

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget https://apache.osuosl.org/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
!tar xf spark-2.4.7-bin-hadoop2.7.tgz

--2021-05-07 08:37:33--  https://apache.osuosl.org/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
Resolving apache.osuosl.org (apache.osuosl.org)... 140.211.166.134, 64.50.236.52, 64.50.233.100, ...
Connecting to apache.osuosl.org (apache.osuosl.org)|140.211.166.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 233333392 (223M) [application/x-gzip]
Saving to: ‘spark-2.4.7-bin-hadoop2.7.tgz’

spark-2.4.7-bin-had 100%[===================>] 222.52M  1.11MB/s    in 3m 16s

2021-05-07 08:40:50 (1.13 MB/s) - ‘spark-2.4.7-bin-hadoop2.7.tgz’ saved [233333392/233333392]

# Install findspark

In [ ]:
!pip install findspark

Collecting findspark
  Downloading https://files.pythonhosted.org/packages/fc/2d/2e39f9a023479ea798eed4351cd66f163ce61e00c717e03c37109f00c0f2/findspark-1.4.2-py2.py3-none-any.whl
Installing collected packages: findspark
Successfully installed findspark-1.4.2

# Define environment variables

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()

In [ ]:
findspark.find()

'/content/spark-2.4.7-bin-hadoop2.7'

# Get movie datasets

In [ ]:
!mkdir -p $PROJECT_FOLDER

# IMDb
!wget https://datasets.imdbws.com/title.basics.tsv.gz -O /opt/data/title.basics.tsv.gz
!gzip -d $PROJECT_FOLDER/title.basics.tsv.gz

!wget https://datasets.imdbws.com/title.ratings.tsv.gz -O /opt/data/title.ratings.tsv.gz
!gzip -d $PROJECT_FOLDER/title.ratings.tsv.gz

# MovieLens
!wget http://files.grouplens.org/datasets/movielens/ml-25m.zip -O /opt/data/ml-25m.zip
!unzip $PROJECT_FOLDER/ml-25m.zip -d /opt/data/

# TMDb
!wget https://github.com/askayastha/ITC686-Project/raw/master/data/tmdb_5000_movies.zip -O /opt/data/tmdb_5000_movies.zip
!unzip $PROJECT_FOLDER/tmdb_5000_movies.zip -d /opt/data/

--2021-05-07 08:45:27--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 52.85.132.80, 52.85.132.70, 52.85.132.19, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|52.85.132.80|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 140066257 (134M) [binary/octet-stream]
Saving to: ‘/opt/data/title.basics.tsv.gz’

/opt/data/title.bas 100%[===================>] 133.58M  84.1MB/s    in 1.6s

2021-05-07 08:45:29 (84.1 MB/s) - ‘/opt/data/title.basics.tsv.gz’ saved [140066257/140066257]

--2021-05-07 08:45:35--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 52.85.132.19, 52.85.132.70, 52.85.132.66, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|52.85.132.19|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5686484 (5.4M) [binary/octet-stream]
Saving to: ‘/opt/data/title.ratings.tsv.gz’

/opt/data/title.rat 100%[===================>]   5.42M  --.-KB/s    in 0.09s

2021-05-07 08:45:35 (60.6 MB/s) - ‘/opt/data/title.ratings.tsv.gz’ saved [5686484/5686484]

--2021-05-07 08:45:35--  http://files.grouplens.org/datasets/movielens/ml-25m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 261978986 (250M) [application/zip]
Saving to: ‘/opt/data/ml-25m.zip’

/opt/data/ml-25m.zi 100%[===================>] 249.84M  99.7MB/s    in 2.5s

2021-05-07 08:45:38 (99.7 MB/s) - ‘/opt/data/ml-25m.zip’ saved [261978986/261978986]

Archive:  /opt/data/ml-25m.zip
   creating: /opt/data/ml-25m/
  inflating: /opt/data/ml-25m/tags.csv
  inflating: /opt/data/ml-25m/links.csv
  inflating: /opt/data/ml-25m/README.txt
  inflating: /opt/data/ml-25m/ratings.csv
  inflating: /opt/data/ml-25m/genome-tags.csv
  inflating: /opt/data/ml-25m/genome-scores.csv
  inflating: /opt/data/ml-25m/movies.csv
--2021-05-07 08:45:49--  https://github.com/askayastha/ITC686-Project/raw/master/data/tmdb_5000_movies.zip
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/askayastha/ITC686-Project/master/data/tmdb_5000_movies.zip [following]
--2021-05-07 08:45:49--  https://raw.githubusercontent.com/askayastha/ITC686-Project/master/data/tmdb_5000_movies.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1638446 (1.6M) [application/zip]
Saving to: ‘/opt/data/tmdb_5000_movies.zip’

/opt/data/tmdb_5000 100%[===================>]   1.56M  --.-KB/s    in 0.03s

2021-05-07 08:45:49 (54.3 MB/s) - ‘/opt/data/tmdb_5000_movies.zip’ saved [1638446/1638446]

Archive:  /opt/data/tmdb_5000_movies.zip
  inflating: /opt/data/tmdb_5000_movies.csv

In [ ]:
!ls $PROJECT_FOLDER

ml-25m	    title.basics.tsv   tmdb_5000_movies.csv
ml-25m.zip  title.ratings.tsv  tmdb_5000_movies.zip

In [ ]:
IMDB_BASICS_FILE = 'title.basics.tsv'
IMDB_RATINGS_FILE = 'title.ratings.tsv'
MOVIELENS_LINKS_FILE = 'ml-25m/links.csv'
TMDB_5000_MOVIES_FILE = 'tmdb_5000_movies.csv'

# Pandas code (Test)

In [ ]:
# import pandas as pd

# pd_basics_df = pd.read_csv(f'{PROJECT_FOLDER}/{IMDB_BASICS_FILE}', sep='\t')
# pd_ratings_df = pd.read_csv(f'{PROJECT_FOLDER}/{IMDB_RATINGS_FILE}', sep='\t')

In [ ]:
# pd_basics_df.head()

In [ ]:
# pd_basics_df[(pd_basics_df['primaryTitle'] == 'Inception') & (pd_basics_df['titleType'] == 'movie')]

In [ ]:
# pd_ratings_df.head()

In [ ]:
# pd_ratings_df[(pd_ratings_df['tconst'] == 'tt1375666')]

# Spark processing code

In [ ]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

pyspark.__version__

'2.4.7'

In [ ]:
username = ''
password = ''
spark = SparkSession \
    .builder \
    .appName("Exploring_IMDB_Data") \
    .config("spark.mongodb.output.uri", f"mongodb+srv://{username}:{password}@cluster0.jxstd.mongodb.net/imdb_database?retryWrites=true&w=majority") \
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.11:2.4.3') \
    .getOrCreate()

In [ ]:
spark

# Read data into Spark dataframes

In [ ]:
sp_basics_df = spark.read.csv(os.path.join(PROJECT_FOLDER, IMDB_BASICS_FILE), header=True, sep='\t', inferSchema=True)
sp_ratings_df = spark.read.csv(os.path.join(PROJECT_FOLDER, IMDB_RATINGS_FILE), header=True, sep='\t', inferSchema=True)
sp_links_df = spark.read.csv(os.path.join(PROJECT_FOLDER, MOVIELENS_LINKS_FILE), header=True, inferSchema=True)

In [ ]:
sp_basics_df.printSchema()
sp_ratings_df.printSchema()
sp_links_df.printSchema()

root
 |-- tconst: string (nullable = true)
 |-- titleType: string (nullable = true)
 |-- primaryTitle: string (nullable = true)
 |-- originalTitle: string (nullable = true)
 |-- isAdult: string (nullable = true)
 |-- startYear: string (nullable = true)
 |-- endYear: string (nullable = true)
 |-- runtimeMinutes: string (nullable = true)
 |-- genres: string (nullable = true)

root
 |-- tconst: string (nullable = true)
 |-- averageRating: double (nullable = true)
 |-- numVotes: integer (nullable = true)

root
 |-- movieId: integer (nullable = true)
 |-- imdbId: integer (nullable = true)
 |-- tmdbId: integer (nullable = true)

In [ ]:
# Take a peek at the Spark dataframe.
sp_basics_df.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    short|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            40|       Romance,Short|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|      0|     1896|     \N|             1|   Documentary,Short|
|tt0000013|    short|The Photographica...|Neuville-sur-Saôn...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|      0|     1895|     \N|             1|        Comedy,Short|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|
|tt0000016|    short|Barque sortant du...|Barque sortant du...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|      0|     1895|     \N|             1|               Short|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|      0|     1895|     \N|             1|Documentary,Short...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [ ]:
sp_ratings_df.show()

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1698|
|tt0000002|          6.1|     211|
|tt0000003|          6.5|    1457|
|tt0000004|          6.1|     124|
|tt0000005|          6.1|    2256|
|tt0000006|          5.2|     125|
|tt0000007|          5.4|     687|
|tt0000008|          5.4|    1874|
|tt0000009|          6.0|     155|
|tt0000010|          6.9|    6316|
|tt0000011|          5.2|     281|
|tt0000012|          7.4|   10849|
|tt0000013|          5.7|    1629|
|tt0000014|          7.1|    4832|
|tt0000015|          6.1|     878|
|tt0000016|          5.9|    1254|
|tt0000017|          4.6|     255|
|tt0000018|          5.3|     503|
|tt0000019|          5.3|      19|
|tt0000020|          5.0|     282|
+---------+-------------+--------+
only showing top 20 rows

In [ ]:
sp_links_df.show()

+-------+------+------+
|movieId|imdbId|tmdbId|
+-------+------+------+
|      1|114709|   862|
|      2|113497|  8844|
|      3|113228| 15602|
|      4|114885| 31357|
|      5|113041| 11862|
|      6|113277|   949|
|      7|114319| 11860|
|      8|112302| 45325|
|      9|114576|  9091|
|     10|113189|   710|
|     11|112346|  9087|
|     12|112896| 12110|
|     13|112453| 21032|
|     14|113987| 10858|
|     15|112760|  1408|
|     16|112641|   524|
|     17|114388|  4584|
|     18|113101|     5|
|     19|112281|  9273|
|     20|113845| 11517|
+-------+------+------+
only showing top 20 rows

In [ ]:
# Special treatment for TMDb dataset
import pandas as pd
from pyspark.sql.types import *

tmdb_schema = StructType([
    StructField("id", StringType(), False), \
    StructField("budget", LongType(), False), \
    StructField("revenue", LongType(), False)
])

pd_tmdb_df = pd.read_csv(os.path.join(PROJECT_FOLDER, TMDB_5000_MOVIES_FILE))
sp_tmdb_df = spark.createDataFrame(pd_tmdb_df[['id', 'budget', 'revenue']], tmdb_schema)
sp_tmdb_df.printSchema()
sp_tmdb_df.show()

root
 |-- id: string (nullable = false)
 |-- budget: long (nullable = false)
 |-- revenue: long (nullable = false)

+------+---------+----------+
|    id|   budget|   revenue|
+------+---------+----------+
| 19995|237000000|2787965087|
|   285|300000000| 961000000|
|206647|245000000| 880674609|
| 49026|250000000|1084939099|
| 49529|260000000| 284139100|
|   559|258000000| 890871626|
| 38757|260000000| 591794936|
| 99861|280000000|1405403694|
|   767|250000000| 933959197|
|209112|250000000| 873260194|
|  1452|270000000| 391081192|
| 10764|200000000| 586090727|
|    58|200000000|1065659812|
| 57201|255000000|  89289910|
| 49521|225000000| 662845518|
|  2454|225000000| 419651413|
| 24428|220000000|1519557910|
|  1865|380000000|1045713802|
| 41154|225000000| 624026776|
|122917|250000000| 956019788|
+------+---------+----------+
only showing top 20 rows

# Filter in non-adult movies that don't have start year '\\N'

In [ ]:
sp_basics_df = sp_basics_df.filter((sp_basics_df['isAdult'] == '0') & (sp_basics_df['startYear'] != r'\N'))
sp_basics_ratings_df = sp_basics_df.join(sp_ratings_df, ['tconst'], 'inner')
sp_basics_ratings_df.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-------------------+-------------+--------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|             genres|averageRating|numVotes|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-------------------+-------------+--------+
|tt0000658|    short|The Puppet's Nigh...|Le cauchemar de F...|      0|     1908|     \N|             2|    Animation,Short|          6.4|     193|
|tt0001732|    short|The Lighthouse Ke...|The Lighthouse Ke...|      0|     1911|     \N|            \N|        Drama,Short|          7.1|       8|
|tt0002253|    short|          Home Folks|          Home Folks|      0|     1912|     \N|            17|        Drama,Short|          4.0|       7|
|tt0002473|    short|    The Sands of Dee|    The Sands of Dee|      0|     1912|     \N|            17|      Romance,Short|          6.5|      66|
|tt0002588|    movie|Zigomar contre Ni...|Zigomar contre Ni...|      0|     1912|     \N|            48|     Crime,Thriller|          6.1|      25|
|tt0003180|    short|       Mutt and Jeff|       Mutt and Jeff|      0|     1913|     \N|            \N|    Animation,Short|          6.4|       5|
|tt0004091|    short|His Favorite Pastime|His Favorite Pastime|      0|     1914|     \N|            16|       Comedy,Short|          5.1|     996|
|tt0004272|    movie|Lucille Love: The...|Lucille Love: The...|      0|     1914|     \N|           300|             Action|          6.7|       7|
|tt0004336|    movie|The Million Dolla...|The Million Dolla...|      0|     1914|     \N|            \N|  Adventure,Mystery|          6.2|      22|
|tt0005209|    movie|         Don Quixote|         Don Quixote|      0|     1915|     \N|            50|              Drama|          5.6|       8|
|tt0005793|    movie| Mysteries of London| Mysteries of London|      0|     1915|     \N|            \N|        Crime,Drama|          6.2|       6|
|tt0006204|    movie|The Valley of Dec...|The Valley of Dec...|      0|     1916|     \N|            50|              Drama|          6.2|       8|
|tt0006489|    movie|     The Captive God|     The Captive God|      0|     1916|     \N|            50|  Adventure,History|          5.5|      18|
|tt0006819|    movie|Hoffmanns Erzählu...|Hoffmanns Erzählu...|      0|     1916|     \N|            67|            Fantasy|          6.2|      39|
|tt0010060|    movie|The Delicious Lit...|The Delicious Lit...|      0|     1919|     \N|            63|       Comedy,Drama|          5.9|     818|
|tt0011011|    movie|           Boccaccio|           Boccaccio|      0|     1920|     \N|            \N|                 \N|          4.9|      15|
|tt0011031|    movie|The Hunchback and...|Der Bucklige und ...|      0|     1920|     \N|            50|             Horror|          6.2|      48|
|tt0012255|    short|   The Haunted House|   The Haunted House|      0|     1921|     \N|            21|Comedy,Horror,Short|          7.0|    2740|
|tt0013224|    movie|The Heart Specialist|The Heart Specialist|      0|     1922|     \N|            50|              Drama|          6.8|       6|
|tt0013842|    short|Asleep at the Switch|Asleep at the Switch|      0|     1923|     \N|            \N|       Comedy,Short|          6.6|       8|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+-------------------+-------------+--------+
only showing top 20 rows

# Check for duplicate rows

In [ ]:
print(sp_basics_df.count())
print(sp_ratings_df.count())
print(sp_basics_ratings_df.count())
print()
print(sp_basics_df.distinct().count())
print(sp_ratings_df.distinct().count())
print(sp_basics_ratings_df.distinct().count())

6783048
1148911
1129516

6783048
1148911
1129516

# Dataframe that holds only movies

In [ ]:
sp_movie_ratings_df = sp_basics_ratings_df.filter((sp_basics_ratings_df['titleType'] == 'movie'))

# Dataframe that holds finance data

In [ ]:
sp_tmdb_finance_df = sp_tmdb_df.join(sp_links_df, sp_tmdb_df['id'] == sp_links_df['tmdbId'], 'inner')
sp_tmdb_finance_df = sp_tmdb_finance_df.drop('id', 'movieId', 'tmdbId')
sp_tmdb_finance_df.show()
sp_tmdb_finance_df.count()

+---------+----------+-------+
|   budget|   revenue| imdbId|
+---------+----------+-------+
|237000000|2787965087| 499549|
|300000000| 961000000| 449088|
|245000000| 880674609|2379713|
|250000000|1084939099|1345836|
|260000000| 284139100| 401729|
|258000000| 890871626| 413300|
|260000000| 591794936| 398286|
|280000000|1405403694|2395427|
|250000000| 933959197| 417741|
|250000000| 873260194|2975590|
|270000000| 391081192| 348150|
|200000000| 586090727| 830515|
|200000000|1065659812| 383574|
|255000000|  89289910|1210819|
|225000000| 662845518| 770828|
|225000000| 419651413| 499448|
|220000000|1519557910| 848228|
|380000000|1045713802|1298650|
|225000000| 624026776|1409024|
|250000000| 956019788|2310332|
+---------+----------+-------+
only showing top 20 rows

4602

# Fix the ids and join the movie and finance dataframe

In [ ]:
sp_movie_finance_df = sp_movie_ratings_df.withColumn('imdbId', F.regexp_replace('tconst', r't+0*', '').cast('Integer'))
sp_movie_finance_df = sp_movie_finance_df.join(sp_tmdb_finance_df, ['imdbId'], 'inner')
sp_movie_finance_df.show()
sp_movie_finance_df.count()

+-------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+---------+---------+
| imdbId|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|   budget|  revenue|
+-------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+---------+---------+
|  92644|tt0092644|    movie|Beverly Hills Cop II|Beverly Hills Cop II|      0|     1987|     \N|           100| Action,Comedy,Crime|          6.5|  109909| 20000000|299965036|
| 102798|tt0102798|    movie|Robin Hood: Princ...|Robin Hood: Princ...|      0|     1991|     \N|           143|Action,Adventure,...|          6.9|  180472| 48000000|390493908|
| 116259|tt0116259|    movie|    Extreme Measures|    Extreme Measures|      0|     1996|     \N|           118| Crime,Drama,Mystery|          6.2|   17201| 38000000| 17380126|
| 117500|tt0117500|    movie|            The Rock|            The Rock|      0|     1996|     \N|           136|Action,Adventure,...|          7.4|  316681| 75000000|335062621|
| 160009|tt0160009|    movie|      The Art of War|      The Art of War|      0|     2000|     \N|           117|Action,Adventure,...|          5.7|   28915| 40000000| 30199105|
| 163988|tt0163988|    movie|Bringing Out the ...|Bringing Out the ...|      0|     1999|     \N|           121|      Drama,Thriller|          6.9|   64770| 32000000|        0|
| 268695|tt0268695|    movie|    The Time Machine|    The Time Machine|      0|     2002|     \N|            96|Action,Adventure,...|          6.0|  119399| 80000000|123729176|
| 294870|tt0294870|    movie|                Rent|                Rent|      0|     2005|     \N|           135|Drama,Musical,Rom...|          6.9|   49028| 40000000| 31670620|
| 322700|tt0322700|    movie|    I Love Your Work|    I Love Your Work|      0|     2003|     \N|           111|       Drama,Mystery|          5.3|    1795|        0|        0|
| 327162|tt0327162|    movie|  The Stepford Wives|  The Stepford Wives|      0|     2004|     \N|            93|Comedy,Horror,Sci-Fi|          5.3|   61731| 90000000|102000000|
| 338512|tt0338512|    movie|        Two Brothers|         Deux frères|      0|     2004|     \N|           109|Adventure,Drama,F...|          7.1|   14640| 74500000| 62172050|
| 379725|tt0379725|    movie|              Capote|              Capote|      0|     2005|     \N|           114|Biography,Crime,D...|          7.3|  126791|  7000000| 49084830|
| 480251|tt0480251|    movie|          Ira & Abby|          Ira & Abby|      0|     2006|     \N|           104|      Comedy,Romance|          6.5|    2151|        0|        0|
|1196141|tt1196141|    movie|Diary of a Wimpy Kid|Diary of a Wimpy Kid|      0|     2010|     \N|           120| Comedy,Drama,Family|          6.2|   43771| 15000000| 75700498|
|1544600|tt1544600|    movie|      The Grace Card|      The Grace Card|      0|     2010|     \N|           101|               Drama|          6.4|    2954|   200000|  2295733|
|1594562|tt1594562|    movie|      The Innkeepers|      The Innkeepers|      0|     2011|     \N|           101|Drama,Horror,Mystery|          5.5|   33184|   750000|    78396|
|1637706|tt1637706|    movie|   Our Idiot Brother|   Our Idiot Brother|      0|     2011|     \N|            90|        Comedy,Drama|          6.4|   84782| 10000000| 17273593|
|1706620|tt1706620|    movie|         Snowpiercer|         Snowpiercer|      0|     2013|     \N|           126| Action,Drama,Sci-Fi|          7.1|  329961| 39200000| 86758912|
|1843866|tt1843866|    movie|Captain America: ...|Captain America: ...|      0|     2014|     \N|           136|Action,Adventure,...|          7.7|  752524|170000000|714766572|
|2017486|tt2017486|    movie|  Closer to the Moon|  Closer to the Moon|      0|     2014|     \N|           112|  Comedy,Crime,Drama|          6.9|    3918|  9000000|        0|
+-------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+---------+---------+
only showing top 20 rows

4577

# Dataframe that holds only tv shows

In [ ]:
sp_tvshow_ratings_df = sp_basics_ratings_df.filter((sp_basics_ratings_df['titleType'] == 'tvSeries'))

In [ ]:
sp_tvshow_ratings_df.show()

In [ ]:
sp_movie_ratings_df.filter(sp_movie_ratings_df['primaryTitle'] == 'Inception').show()

# Test code

In [ ]:
sp_movie_ratings_df.groupBy('startYear').count().orderBy(sp_movie_ratings_df['startYear'].desc()).show()

In [ ]:
sp_tvshow_ratings_df.groupBy('startYear').count().orderBy(sp_tvshow_ratings_df['startYear'].desc()).show()

# Add a new column 'totalRatings' (popularity).

In [ ]:
sp_movie_ratings_df = sp_movie_ratings_df.withColumn('totalRatings', (F.col('averageRating') * F.col('numVotes')).cast('Integer'))

In [ ]:
sp_movie_ratings_df.filter(sp_movie_ratings_df['startYear'] == '2001').sort(F.desc('totalRatings')).show()

In [ ]:
sp_tvshow_ratings_df = sp_tvshow_ratings_df.withColumn('totalRatings', (F.col('averageRating') * F.col('numVotes')).cast('Integer'))

In [ ]:
sp_tvshow_ratings_df.filter(sp_tvshow_ratings_df['startYear'] == '2015').sort(F.desc('totalRatings')).show()

# Define helper functions

In [ ]:
def write_to_mongodb(df, coll_name):
    df.write.format("mongo") \
        .mode("append") \
        .option("database", DB_NAME) \
        .option("collection", coll_name) \
        .save()

def get_all_years(df):
    years_list = df.select('startYear').distinct().rdd.flatMap(lambda x: x).collect()
    years_list.sort(reverse=True)
    # years_list.remove('\\N')

    return years_list

def write_df(df, coll_name, sort_column):
    for year in get_all_years(df):
        year_df = df.filter(df['startYear'] == year).sort(F.desc(sort_column)).limit(20)
        write_to_mongodb(year_df, coll_name)

# Write top movies by year to MongoDB

In [ ]:
write_df(sp_movie_ratings_df, "top_movies", "totalRatings")

# Write top tv shows by year to MongoDB

In [ ]:
write_df(sp_tvshow_ratings_df, "top_tvshows", "totalRatings")

# Check movie_finance dataframe

In [ ]:
sp_movie_finance_df.filter(sp_movie_finance_df['startYear'] == '2015').sort(F.desc('budget')).show()

# Write top budgets by year to MongoDB

In [ ]:
write_df(sp_movie_finance_df, "top_budgets", "budget")

# Write top revenues by year to MongoDB

In [ ]:
write_df(sp_movie_finance_df, "top_revenues", "revenue")

# Write movies count per year to MongoDB

In [ ]:
sp_movies_count_df = sp_movie_ratings_df.groupBy('startYear', 'titleType').count().orderBy(sp_movie_ratings_df['startYear'].desc())
write_to_mongodb(sp_movies_count_df, "titles_count")

# Write tv shows count per year to MongoDB

In [ ]:
sp_tvshows_count_df = sp_tvshow_ratings_df.groupBy('startYear', 'titleType').count().orderBy(sp_tvshow_ratings_df['startYear'].desc())
write_to_mongodb(sp_tvshows_count_df, "titles_count")